.container {
    display: flex;
    flex-direction: column;
}

.btn {
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: transparent;
    margin: 5px
}

.btn-shuffle {
    color: #333;
    background: white;
    border: 1px solid #333;
}
